.navbar-brand-img {
    width: 90%;
    height: 85px;
    margin-left: 48px;
}
.navbar-brand {
    line-height: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Big River Regular;
}

/* created new class hover to prevent the hover effect from applying to the dropdown */
.hover a {
   padding-right: 10px;
   padding-left: 10px;
   font-family: Big River Regular;
   font-size: 20px;
   color: rgb(14, 11, 75);
   background-color: transparent;
   border: none;
   transition: none;
   margin-right: 60px;
   font-weight: bold;
}
/* Header need to be fixed */
.hover a:hover {
    /* border: solid 1px transparent; */
    box-shadow:  0 0 0 1px transparent;
    font-family: Big River Regular;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 50, 232);
    border-radius: 15px;

 }
.navbar-toggler {
    padding: 0;
    border: none;
    background-color: transparent;
    transition: none;
}

.btn:focus, .btn-close:focus {
    box-shadow: none;
    background-color:transparent;
    transition: none;
}
.navbar-toggler img {
    padding-bottom: 10px;
    margin-right: 20px;
}
.dropdownfont a {
    font-size: x-large;
    font-weight: bold;
    color: rgb(8, 1, 124);
}
.dropdownfont a:hover {
    font-size: x-large;
    font-weight: bold;
    color: rgb(8, 1, 124);
}
.nav-link span {
    float:right;
}
.row {
    width: 100%;
    padding: 0;  
}
.leftsideofflexheading {
    padding-left: 78px;
    padding-right: 30px;
}
.findtalent {
    color: rgb(0, 50, 232);
    font-size: medium;
    font-weight: bold;
}
.talentheading {
    color: rgb(14, 11, 75);
    font-size: 80px;
    font-weight: bold;
    line-height: 100px;
}
.headingp, .collapsable1paragraph {
    color:rgb(138, 136, 136);
    font-size: 20px;
    line-height: 40px;
}
.section1 button , .section3 #button, .section7 button{
    box-shadow:  0 0 0 1px transparent;
    padding-right: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Big River Regular;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 50, 232);
    border-radius: 27px;
}
.section1 button:hover, .section3 #button:hover, .section7 button:hover {
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 8px 8px 1px 1px rgb(0, 50, 232);
}
#headerimg1 {
    position: relative;
    float:right;
    top: 0;
    left: 0;
    /* width needs to be less than 500 when on mobile */
    width: 700px;
    height: 500px;
    z-index: 4;
    /* not to sure if this is a good fix  */
    margin-left: 200px;
    
}
#headerimg2 {
    position: absolute;
    float:right;
    bottom: 0;
    left: 0;
    width: 550px;
    height: 300px;
    padding-right: 20px;
    margin-top: 170px;
    z-index: 4;
}
/* vw is for view width so it fits every screen */
.separator {
    float:right;
    width: 0;
    z-index: -1;
    height: 0;
    position: absolute;
    /* border-right-width, style,color */
    border-left: 39vw solid transparent;
    border-top: 50vw solid #CEF1FE;
    /* this causes the slanting  */
    border-right: 30vm solid transparent;
    margin-top: -15.9vw; 
    /* current fix to separator not being far right */
    margin-left: 158px;
}
/* #overlayedimgs {
    float:right;
} */
#section2header {
    text-align: center;
    color: blue;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
#bluesection {
    background-color: #CEF1FE;
    /* Current fix for the section not covering the entire page */
    width:100%;
    overflow:auto;
}
.section3heading , .section5header {
    font-size: 56px;
    color: #011F5C;
    font-family: Big River Regular;
    font-weight: bolder;
    text-align: center;
    margin-left: 25vw;
    margin-right: 25vw;
}
#section3subheading {
    font-size: medium;
    color: #011F5C;
    font-family: Big River Regular;
    font-weight: small;
    text-align: center;
    margin-left: 23vw;
    margin-right: 23vw;
}
#leftseparator {
    width: 0;
    z-index: -1;
    height: 0;
    position: absolute;
    /* border-right-width, style,color */
    border-right: 100vw solid transparent;
    border-bottom: 21vw solid #CEF1FE;
    margin-top: -12.9vw; 
}
#rightseparator {
    width: 100%;
    z-index: -1;
    height: 0;
    position: absolute;
    /* border-right-width, style,color */
    border-left: 100vw solid transparent;
    border-bottom: 21vw solid #CEF1FE;
    margin-top: -12.9vw;
   
}
#panel {
    text-align: center;
    border:2em ;
}

#panelelements button {
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 27px;
    font-size: large;
    font-weight: bold;
    /* background-color: white; */
    color: rgb(8, 1, 124);
    border: transparent; 
    
}
.card {
    width: 90%;
}
.collapsable1header  {
    color: #011F5C;
    font-size: x-large;
    font-weight: bold;
}
.accordion-button {
    font-size: large;
    font-weight: bold;
    color: #011F5C;
}
.accordion-body {
    color:rgb(138, 136, 136);
    font-size: medium;
    line-height: 30px;
}
.section3lowerheading {
    padding-top: 65px;
    font-size: 35px;
    color: #011F5C;
    font-family: Big River Regular;
    font-weight: bolder;
    text-align: center;
    margin-left: 25vw;
    margin-right: 25vw;
}
#button {
    margin-top: 30px;
    margin-bottom: 50px;
}
.section4leftalign {
    font-size: 56px;
    color: #011F5C;
    font-family: Big River Regular;
    font-weight: bolder;  
}
#bottomleftseparator {
    width: 0;
    z-index: -1;
    height: 0;
    position: absolute;
    /* border-right-width, style,color */
    border-right: 60vw solid transparent;
    border-top: 10vw solid  #CEF1FE;
    margin-bottom: -10.9vw;
}
#bottomrightseparator {
    width: 0%;
    z-index: -1;
    height: 0;
    position: absolute;
    /* border-right-width, style,color */
    border-left: 60vw solid transparent;
    border-top: 10vw solid  #CEF1FE;
    margin-bottom: -20.9vw;
    text-align: right;
    margin-left:40vw;
}
#separatorimg {
    padding-left: 10vw;
    z-index: -1;
}
.section5 {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
.section5 img {
    padding-bottom: 20px;
}
.section5heading{
    font-size: 24px;
    color: #011F5C;
    font-family: Big River Regular;
    font-weight: bolder;
    text-align: center;
}
.section5subheading {
    color:rgb(138, 136, 136);
    font-size: 15px;
    line-height: 30px;
}
.section6 {
    padding-top: 40px;
    margin-left: 20vw;
    margin-right: 20vw;
    padding-bottom: 50px;
}
.section6header {
    font-size: 35px;
    color: #011F5C;
    font-family: Big River Regular;
    font-weight: bolder;
    text-align: center;
}
.section7 {
    padding-left: 50px;
    padding-top: 80px;
    width:85%;
    background-color: aquamarine;
}
.imageleft {
    padding-left: 20vw;
}
.section7borderimg {
    padding-left: 20vw;
}
.section8 {
    padding-top: 40px;
    padding-right: 10vw;
}
.section8header {
    font-size: 24px;
    color: #011F5C;
    font-family: Big River Regular;
    font-weight: bolder;
    text-align: center;
}
.section8subheader {
    color:rgb(138, 136, 136);
    font-size: small;
    text-align: center;
    line-height: 30px;
}
.section8 a {
    text-decoration: none;
}
.section8 a:hover {
    /* Color not changing here  */
    color:#011F5C; 
    text-decoration: underline;
}
.section9 {
    padding-top: 30px;
}
.section9 img {
    float: right;
}
.section9 span, .section9 div {
    float: left;
    padding-right: 5px;
}
.movespanright {
    padding-left: 7vw;
}
.leftside {
    /* is there a float down */
    position: relative; 
}
.leftside span {
    position: absolute;
    bottom:0;
    left:2;
}
/* Adjustments for smaller screen */
@media (min-width: 768px) and (max-width: 1200.98px) {
    #headerimg1 {
      width: 500px;
      height: 500px;
    }
    .section2 img {
        width: 85px;
        padding-right: 10px;

    }
    .separator {
        margin-left: 122px;
    }
    .section7borderimg {
        padding-left: 10vw;
    }
    .imageleft {
        padding-left: 30vw;
    }
  }